body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
}


html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color : lighten($base-color, 75%);
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust : 100%;
  background-color : transparent;
  /* Technique: http://css-tricks.com/perfect-full-page-background-image/ */
  /*background-image: url(../i/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  -webkit-background-size: 1534px 1024px; // fix not correct scaling in safari on ipad
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  */
}


.bg {
  position: fixed;
  z-index: 0;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.bg img {
  position: absolute; 
  display: block;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


.wrap {
	position: relative;
	z-index: 1;
	
	
	width: 80%;
	color: #fff;
}

.content__wrap {
	padding: 40px;
	background: rgba(0,0,0,.54);
}

/* Header */
.header {
	margin-top: 30px;
}
.header .title {
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 800; 
	color: #000;
	letter-spacing: .05ex;
	text-transform: uppercase;
	position: relative;
}

.header .line {
	display: block;
	line-height: 1;
}

.header .line-1 {
	font-size: 100px;
}
.header .line-2 {
	font-size: 44px;
	margin-left: 260px;
	position: relative;
	padding-bottom: 75px;
}
.symbol {
	position: absolute;
}
.symbol.s-01 {
	font-size: 64px;
	top: -15px;
	left:0;
}
.symbol.s-02 {
	font-size: 44px;
	top: 40px;
	left:10px;
}
.header .line-3,
.header .line-4,
.header .line-5 {
	margin-left: 290px;
}
.header .line-3 {
	font-size: 40px;
}
.header .line-4 {
	font-size: 53px;
}
.header .line-5 {
	font-size: 30px;
	position: relative;
}
.header .amp {
	position: absolute;
	top: 0;
	left: -25px;
	display: block;
}

/* Navigation */
.navbar {
	margin: 40px 0;
}

.nav-list,
.nav-item {
	list-style: none;
}
.nav-list {
	margin: 0;
}
.nav-link {
	text-align: center;
	color: #000;
	display: block;
	font-size: 18px;
}