<section id="application2" class="holder application">

					

			

</br>
<p class="title" style="font-size: 14px  ;" >The School of Machines is a traveling dreamland where artists, makers, technologists and creative whatevers can dig into a rotating roster of interdisciplinary topics, while developing practical skills and making new friends from around the world.</p> <p class="title" style="font-size: 14px ; " >Thank you, Rachel, for your beautiful vision for building this inspiring and motivating community! </br><strong style="font-weight: bold;" >Sarah Riazati</strong></p>
					
				</br>
					

 </section>


 <section id="application2" class="holder application">

					

			

</br>
<p class="title" style="font-size: 14px  ;" ><p class="title" style="font-size: 14px ; " >The School of Machines opened a big door in my brain and now I work with things I never imagined I would, and never even liked. Thank you! <3</br><strong style="font-weight: bold;" >Deborah Rodrigues Moreira</strong></p>
	</br>				
				
					

 </section>

 <section id="application2" class="holder application">

					

			

</br>
<p class="title" style="font-size: 14px ; " >At the beginning I thought meeting ARTISTS from all around the world can be a good opportunity, but I didn't think that they are actually HUMANS, and you can laugh this much and become real friends.</p> <p class="title" style="font-size: 14px ; " >I've learned so much I'd not have ever imagined. Things that I secretely wanted to, but had no idea where to learn it or how.  And I did projects I'd have never imagined before. And a project which I've been imagining for 4 years but had no clue how to even start. And it was done in a week here. Miracle.</br><strong style="font-weight: bold;" >Rita Eperjesi</strong></p>
		</br>			
				
					

 </section>


 <section id="application2" class="holder application">

					

			

</br>
<p class="title" style="font-size: 14px ; " >The School of Machines is a playground, bootcamp, community center, and lucid dream in equal parts. The mix of giving students, brilliant instructors with giant hearts, and visionary and thoughtful leadership made this exactly the art/tech education experience I've been trying to find for a long time.</br><strong style="font-weight: bold;" >Brent Dixon</strong></p>
					
					
				
					

 </section>