<!--
<section id="application" class="holder application">
    <p>TWO&nbsp;ART&TECH</p>
    <p><a href="http://schoolofma.org/programs/">SUMMER PROGRAMS</a></p>
  -->
    <!--
    <div style="color:#f0f0f0;background:#222;padding:0.25em 0;margin-bottom:1em;letter-spacing: 0.42ex;">EXTENDED</div> 
    <p>Deadline for submitting application <span style="font-weight: bold">May&nbsp;30,&nbsp;2014</span></p>
    <p>APPLY&nbsp;TODAY!</p> 
    <p><a href="http://schoolofma.org/programs/august-2014-let's-get-physical/">August Let's&nbsp;Get&nbsp;Physical Program</a> applications currently open. </p> 
  	-->
    <!--
    <p>Only&nbsp;a&nbsp;few spots&nbsp;left!</p>
    <p>Apply&nbsp;today!</p>
  -->
    <!--
    <p>July Application&nbsp;period now closed</p> 
    <p>but you can still&nbsp;try&nbsp;to convince&nbsp;us you&nbsp;should&nbsp;be a&nbsp;part&nbsp;of it!</p> 
  	-->
  	<!--
    <p>Please use this&nbsp;<a href="https://docs.google.com/forms/d/1ZlwObVR731vCtswdFUE1vqUVln0WrYRoBx9qZuZD2ao/viewform">form</a>.</p>
</section>
-->