
<section id="application" class="holder application">

					

					<p><strong style="font-weight: bold;" >TESTIMONIALS</strong></p>
				

					<p class="title" style="font-size: 16px ; font-style: italic ;" >The School of Machines is a playground, bootcamp, community center, and lucid dream in equal parts. The mix of giving students, brilliant instructors with giant hearts, and visionary and thoughtful leadership made this exactly the art/tech education experience I've been trying to find for a long time.</br><strong style="font-weight: bold;" >Brent Dixon</strong></p>
					<hr>
					<p class="title" style="font-size: 16px ; font-style: italic ;" >The School of MA empowered me as a maker. I didn't go their so much for a specific set of skills but rather the confidence to keep learning and making.</br><strong style="font-weight: bold;" >Monique Grimord</strong> </p>
					<hr>
					<p class="title" style="font-size: 16px ; font-style: italic ;" >School of MA offers the time to explore and create projects that dive into deep questions about technology, how it effects us, and what it means for the world we live in. It fosters both creative and technical skills while still managing to be fun and lighthearted.</br><strong style="font-weight: bold;" >Matt Visco</strong> </p>
					<hr>
					
					<p class="title" style="font-size: 16px ; font-style: italic ;" >One of the things that I appreciated most was the utterly liberating atmosphere. Talking about ideas, associations, thoughts, sometimes related, sometimes unrelated to the projects, throughout the entire course was so special and created such a positive and fun environment.</br><strong style="font-weight: bold;" >Theresa Reimann-Dubbers</strong> </p>
					<hr>
					
					<p class="title" style="font-size: 16px ; font-style: italic ;" >It was only after doing the School of MA that I saw how far from ‘now’ my undergraduate in product design was. As an independent school it seemed uncensored in its ability to offer a plethora of practical skills and thinking. For me, it was a shortcut to the future.</br><strong style="font-weight: bold;" >Thomas O'Reilly</strong> </p>
					<hr>
					
					<p class="title" style="font-size: 16px ; font-style: italic ;" >As a visual communication undergrad, I'm constantly exposed to working with print and amongst designers who advocate the idea that #printisnotdead. I am interested in merging the practices of visual communication and new media, and was very happy to find the School of MA, as it offers a unique and perfect place for me play with tech and art, and a starting point for me to branch out on skills that can help me to achieve my artistic goals.</br><strong style="font-weight: bold;" >Beverley Ng</strong> </p>
					<hr>
					<p class="title" style="font-size: 16px ; font-style: italic ;" >School of MA does for coders what Josh Homme's Desert Sessions does for musicians. It reminds us why we started in the first place.</br><strong style="font-weight: bold;" >James Kneafsey</strong> </p>
					<hr>
					<p class="title" style="font-size: 16px ; font-style: italic ;" >I learnt so many things that cannot be summarized in a paragraph. But most importantly I learnt to appreciate art, how to use it as medium to change the way people think, inspire others and as a way to express yourself. Also how technology can assist us to express the artistic and creative views of a non-artist like me.</br><strong style="font-weight: bold;" >Vaishali Dhanoa</strong> </p>

 </section>
 



