
<section id="application" class="holder application">
 <!-- <div style="color:#f0f0f0;background:#222;padding:0.25em 0;margin-bottom:1em;letter-spacing: 0.42ex;"></div> -->
     
     <p>APPLY&nbsp;TODAY!</p> 
					<p>Please use this&nbsp;<a href="https://docs.google.com/forms/d/1D8ejtJC9BvtFPRzMIaTwq8eIYSUgL4ZfcrQvIcEsTmc/viewform" class="apply danger" target="_blank">form</a>.</p>
					<p>Deadline for submitting application <span style="font-weight: bold">March&nbsp;8,&nbsp;2015* (see&nbsp;<a href="http://schoolofma.org/faq/"></a>FAQ)</span></p>
     					    <!--<p>Sign up for our&nbspnewsletter below</p>-->
 </section>
 
 <section id="application" class="holder application">

     
     <p><small>At&nbsp;the&nbsp;School we&nbsp;value&nbsp;diversity! In&nbsp;that&nbsp;spirit, we're&nbsp;pleased to announce a limited number of need-based scholarships will&nbsp;be&nbsp;available to&nbsp;applicants who&nbsp;demonstrate financial&nbsp;need. Please&nbsp;indicate on&nbsp;your application if&nbsp;you&nbsp;would like&nbsp;to&nbsp;be considered&nbsp;for a&nbsp;scholarship. </small</p>
 </section>

