
<section id="application" class="holder application">

					

					<p><strong style="font-weight: bold;" ><a href="https://docs.google.com/forms/d/1n_SKwcHZAEOyG5KJTJBoE2P9pwK2hH6CFlXHMTVQsww/viewform" class="apply danger" target="_blank">Accepting Applications Now</a><br>for <br>COMING SOON:<br> Fabrication, Internet of Things, & Design&nbsp; Fiction, <br>our four-week Winter 2016 program in Turin, Italy<br><span style="display:inline-block">Feb 1</span> - <span style="display:inline-block">Feb 28</span></strong></p>
				
					

 </section>
 
 <section id="application" class="holder application">
     <p>We're committed to diversity in the truest sense. Our last few programs boast 60%+ women and participants from 13+ countries.</p>	<p><strong style="font-weight: bold;" >Women and persons from </br>under-represented communities</br> in the tech field</br> highly encouraged to apply!</strong></p>
  
 	
 </section>

