
<section id="application" class="holder application">

					

					<p><strong style="font-weight: bold;" >RELATED LINKS</strong></p>
				

				<a href="https://medium.com/@genekogan/machine-learning-for-artists-e93d20fdb097#.fo1pty76z" target="_blank">Machine Learning for Artists | Gene Kogan </a>

<a href="https://medium.com/@ArtificialExperience/creativeai-9d4b2346faf3#.drm1yj6vl" target="_blank">Creative AI | Samim Winiger </a>

<a href="https://medium.com/the-physics-arxiv-blog/when-a-machine-learning-algorithm-studied-fine-art-paintings-it-saw-things-art-historians-had-never-b8e4e7bf7d3e#.u5cmmuiny" target="_blank">When a Machine Learning Algorithm Studied Fine Art Paintings | Physics arXiv </a>

<a href="https://medium.com/the-physics-arxiv-blog/when-a-machine-learning-algorithm-studied-fine-art-paintings-it-saw-things-art-historians-had-never-b8e4e7bf7d3e#.u5cmmuiny" target="_blank">How Computers Experience Art | Daily Dot </a>


 </section>
 







