

{% include header.html %}

	
		<div class="content__wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 ">

					{% include nav.html %}

					<div class="row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col ">
						<h3 class="title">Hello World!</h3> 
						<p>School of&nbsp;Machines, Making&nbsp;&&nbsp;Make-Believe is&nbsp;an&nbsp;organisation dedicated to&nbsp;the imaginative and non-sensical exploration of&nbsp;art and technology. We’re&nbsp;passionate about interactivity and storytelling. We enjoy learning and playing with tools that make our brains and our dreams come to&nbsp;life! Wanna join&nbsp;us?</p>
						<p>Our vision is all about creating new experimental formats for learning. We run a three-month-long summer school program in Berlin and five-week programs in rotating locations all around the world in Spring and Fall.</p>
						<p>We&nbsp;invite creative people of&nbsp;all kinds -- artists, teachers, technologists, makers, engineers, designers, the curious, people passionate about learning and creativity, those who secretly desire to&nbsp;create something meaningful -- all are encouraged to&nbsp;apply.</p>
						<p>Sign up for our newsletter to receive the latest news and updates.</p>
						
						</section>
						<div class="em thanks">
			

							<p>In collaboration with <a href="http://www.opentechschool.org/" title="OpenTechSchool" target="_blank">OpenTechSchool</a>.</p>
							
							
					</div>

					</div>
				</div>


				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col sidebar">

					{% include sidebar.html %}

				</div>
			</div>
		</div>

	</div><!-- /container -->
	<script>
    		$('.carousel').carousel({
		 interval: 3000
    })
</script>
</section>
{% include footer.html %}

