{% include header.html %}

		<div class="content__wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 ">

					{% include nav.html %}

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">
						<h3 class="title">Hello World!</h3> 
						<p>School of&nbsp;Machines, Making&nbsp;&&nbsp;Make-Believe is&nbsp;an&nbsp;organisation dedicated to&nbsp;the imaginative and non-sensical exploration of&nbsp;art and technology. We’re&nbsp;passionate about interactivity and storytelling. We enjoy learning and playing with tools that make our brains and our dreams come to&nbsp;life! Wanna join&nbsp;us?</p><br>
						<p>We&nbsp;invite creative people of&nbsp;all kinds -- artists, technologists, the curious, people passionate about learning and creativity, and those who secretly desire to&nbsp;create something meaningful -- all are encouraged to&nbsp;apply!  and will admit only  from around the world. Interested? </p>
						<div class="banner text-left">
							<p>This summer we launch our first season with two programs!</p>
							<p class="sub info">Berlin • four weeks • full-time • group of 10-15&nbsp;students • €&nbsp;1250</p>
						</div>



						<div class="row banner text-left">
							<div class="col-sm-12 col-md-12 col-lg-6">
								<article class="program program__short-description">
									<h3 class="title"><p>1</p>Responsive Spaces </h3>
									<ul class="list list-compact em">
										<li class="list__item  warning"><p>/ 30 June - 25 July 2014</p></li>
										<li class="list__item"><p><a  href="{{ site.baseurl }}programs/july-2014-responsive-spaces/">More details ❯❯</a></p></li>
									</ul>
								</article>
							</div>

							<div class="col-sm-12 col-md-12 col-lg-6">

								<article class="program program__short-description">
									<h3 class="title"><p>2</p>Let's Get Physical<a href="https://www.youtube.com/watch?v=VjRA0vCV8iw" target="_blank">!</a></h3>
									<ul class="list list-compact em">
										<li class="list__item  warning"><p>/ 04 - 29 August 2014</p></li>
										<li class="list__item"><p><a href="{{ site.baseurl }}programs/august-2014-let's-get-physical/">More details&nbsp;❯❯</a></p></li>
									</ul>
								</article>
							</div>
						</div>


						
						
						
						<div class="">
							<p>Some of our instuctors' previous work:</p>
							<iframe width="560" height="315" class="center" src="//www.youtube.com/embed/videoseries?list=PLPm9Nb2rHzfik8Yx-4YYQWr0Q5ykACyAP" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="em thanks">
							<p>Hosted by&nbsp;<a href="http://www.thewye.de/" title="The WYE" target="_blank">The WYE</a>.</p>

							<p>In collaboration with <a href="www.fablab-berlin.org" title="FabLab Berlin" target="_blank">FabLabBerlin</a> and <a href="http://www.opentechschool.org/" title="OpenTechSchool" target="_blank">OpenTechSchool</a>.</p>
							
							<p>With&nbsp;support&nbsp;from <a href="http://www.arthackday.net/" title="ArtHackDay" target="_blank">ArtHackDay</a>, <a href="http://retune.de/" title="Retune - creative technology platform berlin" target="_blank">Retune</a>, <a href="http://nand.io" title="Studio NAND" target="_blank">Studio NAND</a>, <a href="http://www.onformative.com/" title="Onformative" target="_blank">Onformative</a>, <a href="https://www.tinkersoup.de/" title="TinkerSoup" target="_blank">TinkerSoup</a>, <a href="http://www.geekettes.io/" title="Berlin Geekettes" target="_blank">Berlin Geekettes</a>, <a href="http://nkprojekt.de" title="NK" target="_blank">NK</a>, and <a href="http://createdigitalmotion.com/" title="Create Digital Motion" target="_blank">Create Digital Motion</a>.</p>
						</div>
					</div>

						<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col">

							<section id="about">
								<p>School of Machines, Making & Make-Believe is a non-profit organisation whose mission is to bring together artists working with technology and technologists working within the context of art, in an intensive, summer learning program in Berlin, Germany. We invite a community of like-minded artists, coders and makers together to creatively explore craft in-depth with a focus on individual self-expression, storytelling and narrative.</p>
								<p>Summer 2014, School of Machines, Making & Make-Believe will run two one-month full-time programs, for 10-15 students each.</p>
								<p><a href="/about">Go for more details</a></p>
							</section>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col">
							<section id="summer-2014">
								<p>Our July 2014 program will focus on creative coding and interactive installations in the context of experimental storytelling.</p>
								<p>Our August 2014 program will be focused on making+motors, fabrication & making things move.</p>
								<p>Classes will be a mix of lectures, workshops, labs and experiments with well-known artists, hackers and educators, as well as abundant time for self-directed, hands-on learning. Students will also have opportunities to share their knowledge with each other through student-led workshops. In addition, we will organise weekly artist-talks/discussion groups for participants with invited guest speakers.</p>
								<p><a href="/summer-2014">Full description of our summer programs</a></p>
							</section>
						</div>
						-->
					</div>
				</div>


				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col">

					{% include sidebar.html %}

				</div>
			</div>
		</div>

		



	</div><!-- /container -->

{% include footer.html %}
