{% include header.html %}

		<!--
		<nav class="navbar navbar-default" role="navigation">
			<ul class="row nav-list">
				<li class="col-sm-6 col-md-3 col-lg-3 nav-item"><a href="" class="nav-link">About</a></li>
				<li class="col-sm-6 col-md-3 col-lg-3 nav-item"><a href="" class="nav-link">Summer 2014</a></li>
				<li class="col-sm-6 col-md-3 col-lg-3 nav-item"><a href="" class="nav-link">Collaborators</a></li>
			</ul>
		</nav>
		-->
		

		<div class="content__wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 ">

					{% include nav.html %}
				

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">

							{{ content }}
						</div>
						
					</div>

				</div>
					
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col">
					{% include sidebar.html %}
				</div>
				
			</div>
		</div>


	</div><!-- /container -->

{% include footer.html %}